@include flex-order;

html {
    min-height: 100%;
}

body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-right: var(--tmb-scrollbar-width);
    overflow-x: hidden;
    overflow-y: initial;
    word-break: break-word;
}

.content-wrap {
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
    z-index: 1;
}

.sticky-top {
    top: 0;
    will-change: top;
    transition: top .6s cubic-bezier(.2, 1, .2, 1);
}

.navbar-show .sticky-top {
    top: #{$navbar-min-height};
}


// google maps
.gmaps {
    width: 100%;
    height: 570px;
}


// body scrollbar checker
.body-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

// callout box for case studies Goal and Results
.callout {
background-color: #f4eff8;
    padding: 50px;
    margin-left: 20px;
}

// color palette
.bg-base {
    background-color: #0A2540;
}

.bg-baseDark {
    background-color: #07192b;
}

.bg-pop {
    background-color: #6200ee;
}

.bg-accent {
    background-color: #551DCB;
}

.bg-highlighter {
    background-color: #f4eff8;
}

.bg-lavy {
    background-color: #EBEDFA;
}

.bg-lavydark {
    background-color: #949CE4;
}

.bg-goldie {
    background-color: #FCBE4F;
}

.bg-navy {
    background-color: #0A2540;
}

.base {
    color: #0A2540;
}

.baseDark {
    color: #07192b;
}

.pop {
    color: #6200ee!important;
}

.accent {
    color: #551DCB!important;
}

.goldie {
    color: #FCBE4F!important;
}

.highlighter {
    color: #f4eff8;
}