{% set page_title = 'Risk Management' %}
{% set navbar_fixed = true %}
{% set footer = 'default-2' %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}


{% block content %}
<div class="container mt-100">

    <img class="w-100 mb-50 show-on-scroll" src="assets/images/case-study/risk-mgt/risk-hero.png" alt="" data-show-duration="800"></img>

<div class="pt-100 mt-n30 pb-130 mb-n10">
        <div class="row gh-1 d-flex align-items-center justify-content-center">
            <div class="d-none d-xl-block col-1"></div>

            <div class="col-12 col-lg-5 col-xl-5 me-lg-auto me-xl-0 show-on-scroll" data-show-duration="500" data-show-distance="10">
                <h1 class="mb-100 mb-lg-0 pb-8 pb-lg-0">Risk Management</h1>
            </div>

            <div class="d-none d-xl-block col-lg-2"></div>

            <div class="col-12 col-lg-6 col-xl ms-xl-n30 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="100">
                <p class="lead mb-0 fw-thick">Clinical Trial Feature Update</p>
                <hr>
                <div class="row gh-3 gv-1">
                    <div class="col-12 col-sm-6 col-lg-auto">
                        <ul class="list-group list-group-gap borderless">
                            <li class="list-group-item"><span class="fw-medium me-8">Role:</span> Senior UX Designer</li>
                            <li class="list-group-item"><span class="fw-medium me-8">Timeframe:</span>8 weeks</li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-auto">
                        <ul class="list-group list-group-gap borderless">
                            <li class="list-group-item"><span class="fw-medium me-8">Team:</span> 1UX, 1PM, 1SME, 1ARC, 4DEV</li>
                            <li class="list-group-item"><span class="fw-medium me-8">Company:</span>Aris Global</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    <div class="row justify-content-center text-left pt-10 pb-30 mt-10"></div>

    <div class="row justify-content-center gh-1 mb-100 pb-60">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick"></p>
        <div class="row gh-1 gv-2 mt-n3 pb-60">
            <div class="col-12 col-md-6 col-lg-4 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-delay="50">
                <div class="feature">
                    <div class="feature-icon me-20">
                        {{ features.icon_frame | safe }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#6200ee" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up"><line x1="12" y1="19" x2="12" y2="5"/><polyline points="5 12 12 5 19 12"/></svg>
                    </div>
                    <div class="feature-body pt-30">
                        <h6 class="mt-n10 mb-30 pb-5">Increased customer usage</h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-delay="150">
                <div class="feature">
                    <div class="feature-icon me-20">
                        {{ features.icon_frame | safe }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#6200ee" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/></svg>
                    </div>
                    <div class="feature-body pt-30">
                        <h6 class="mt-n10 mb-30 pb-5">Increase user adoption</h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-delay="250">
                <div class="feature">
                    <div class="feature-icon me-20">
                        {{ features.icon_frame | safe }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#6200ee" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-award"><circle cx="12" cy="8" r="7"/><polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"/></svg>
                    </div>
                    <div class="feature-body pt-30">
                        <h6 class="mt-n10 mb-30 pb-5">Reduce user time to task</h4>
                    </div>
                </div>
            </div>
        </div>
     </div>



        <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Overview</p>
            <p>Our CTMS application within our Clinical Domain had client driven requests to enhance our current risk management offering to meet the regulatory guidelines outlined by the ICH E6.</p>
            <ul class="pb-50">
                <li><p class="mb-10"><strong>Deep Dive ICH E6</strong> - This requirement was established to improve subject safety and data integrity.</p></li>
                <li><p class="mb-10"><strong>Transformation</strong> - Platform team to build out this component as the first reusable mirco-services platform.</p></li>
            </ul>
        </div>
    </div>

    <img class="w-50 mb-0 show-on-scroll" src="assets/images/case-study/risk-mgt/mcc-method.png" alt="" data-show-duration="800"></div>

        <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content callout">
            <p class="lead fw-thick">Goal</p>
            <p class="fw-medium">Provide a flexible platform to detect, manage, and report study risks that meet the mandatory ICH E6 guidelines and enhance the user experience within a clinical trial.</p>
        </div>
    </div>

    <div class="row justify-content-center gh-1 mb-50">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Result</p>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center gh-1">
        <img class="mb-100 show-on-scroll img-fluid" src="assets/images/case-study/risk-mgt/before_after_riskmgt_1170.gif" alt="" data-show-duration="800">
    </div>

    <div class="row justify-content-center gh-1 mb-50">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Process</p>
            <p class="lead fw-thick">Discovery</p>
            <p class="mb-20">Efforts to understand our users current needs and challenges. Here are a few:</p>
                <ul class="pb-50">
                    <li><p class="mb-10"><strong>Internal SME’s</strong> - Series of discussions with Study Managers and Department Leads.</p></li>
                    <li><p class="mb-10"><strong>User Interviews</strong> - Received persona understanding from Marketing; Met with Product Management on roadmaps; Utilized customer support logs.</p></li>
                    <li><p class="mb-10"><strong>Baseline</strong> - Establish current state of offering and perform high level heuristic evaluation.</p></li>
                    <li><p><strong>Services Team</strong> - Partner with our services team to define issues to the current system and requests.</p></li>
                </ul>
        </div>
    </div>
    
    <div class="row justify-content-center gh-1 mb-50">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">User Flow</p>
            <p class="mb-20">Here is the outcome of close collaboration with key stakeholders and understanding of our users.</p>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center gh-1">
        <img class="mb-100 show-on-scroll img-fluid" src="assets/images/case-study/risk-mgt/risk-userflow.png" alt="" data-show-duration="800">
    </div>

    <div class="row justify-content-center gh-1 mb-50">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Design</p>
            <p class="mb-20">Low fidelity sign off before
                user testing: PM’s / SME’s / DEV Lead / Architect; Walk-through video with DEV team; Stakeholders; responsive design
                .</p>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center gh-1">
        <img class="mb-50 pb-20 show-on-scroll img-fluid" src="assets/images/case-study/risk-mgt/risk-design.png" alt="" data-show-duration="800">
    </div>

    <div class="d-flex align-items-center justify-content-center gh-1">
        <img class="mb-100 show-on-scroll img-fluid" src="assets/images/case-study/risk-mgt/risk-responsive.png" alt="" data-show-duration="800">
    </div>

    <div class="row justify-content-center gh-1 mb-50">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Design System</p>
            <p class="mb-20">Figma and website, Accessibility, Single source of truth</p>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center gh-1">
        <img class="mb-100 show-on-scroll img-fluid" src="assets/images/case-study/risk-mgt/design-system-image.png" alt="" data-show-duration="800">
    </div>

    <div class="row justify-content-center gh-1 mb-50">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Feedback</p>
            <p class="mb-20">Efforts to understand our users current needs and challenges. Here are a few:</p>
                <ul class="pb-50">
                    <li><p class="mb-10"><strong>Group Risks by Category</strong> - As a Functional Area/Domain Manager area user, it is critical for them to focus on risks associated with their domain. The Study Manager would want to be able to see all of the risks across all domains.</p></li>
                    <li><p class="mb-10"><strong>Avoid Essays</strong> - To prevent "essays", limit the characters in the risk description.</p></li>
                    <li><p class="mb-10"><strong>Baseline</strong> - Establish current state of offering and perform high level heuristic evaluation.</p></li>
                    <li><p><strong>More Guidance</strong> - Tooltip that explains how the risk score is calculated is required. Also, guidance on how to write a risk.</p></li>
                </ul>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center gh-1">
        <img class="mb-50 pb-20 show-on-scroll img-fluid" src="assets/images/case-study/risk-mgt/risk-feedback.png" alt="" data-show-duration="800">
    </div>

    <div class="row justify-content-center gh-1 mb-50">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Prototype</p>
            <p class="mb-20">Persona 1 write up.</p>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center gh-1">
        <img class="mb-50 pb-20 show-on-scroll img-fluid" src="assets/images/case-study/risk-mgt/StudyManager03_1170.gif" alt="" data-show-duration="800">
    </div>

    <div class="row justify-content-center gh-1 mb-50">
        <div class="col-lg-8 post-content">
            <p class="mb-20">Persona 2 write up.</p>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center gh-1">
        <img class="mb-100 show-on-scroll img-fluid" src="assets/images/case-study/risk-mgt/SafetyManager01_1170.gif" alt="" data-show-duration="800">
    </div>


        <div class="row justify-content-center gh-1">
        <div class="col-lg-8 post-content callout">
            <p class="lead fw-thick">Results</p>
            <p class="fw-medium">Projected Results (Metrics)
                Measuring what matters by implementing new tools to confirm that our enhanced Risk Management module helps our clients save money and time.
                
                Increase Usage
                Implement Pendo to benchmark and chart increase usage.
                *Abbot - Pilot
                
                Increase Adoption
                2 new customers that cite this as a key driver to adopt CTMS by Dec 2023.
                
                Decreased Time to Task
                Input new risk by half.
                RACT - 19 clicks
                MCC - 8 clicks
                
                ○ Sales team is enthusiastic to start to sell this new feature and feel certain that it will increase adoption
                ○ Marketing is rolling out new branding and is using this projects screenshots and live demo's to launch the new site.</p>
        </div>
    </div>
</div>

    <div class="page-navigation mt-100">
        <a href="case-study-ls_hub.html" class="btn btn-clean">{{ icon.arrow_left | replace(' width', ' class="icon-arrow icon-arrow-left" width') | safe }}prev<span class="d-none d-sm-inline"></span></a>
        <a href="gallery-home.html" class="btn btn-light btn-circle btn-xs">all</a>
        <a href="case-study-flightpro.html" class="btn btn-clean">next<span class="d-none d-sm-inline"></span>{{ icon.arrow_right | replace(' width', ' class="icon-arrow icon-arrow-right" width') | safe }}</a>
    </div>
</div>
</div>

{% endblock %}
