{% set page_title = 'Blog Post' %}
{% set navbar_fixed = true %}
{% set footer = 'default-2' %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}


{% block content %}
<div class="container mt-100">

    <img class="w-100 mb-50 show-on-scroll" src="assets/images/case-study/certainly/certainly-hero.png" alt="" data-show-duration="800"></img>

<div class="pt-100 mt-n30 pb-130 mb-n10">
        <div class="row gh-1 d-flex align-items-center justify-content-center">
            <div class="d-none d-xl-block col-1"></div>

            <div class="col-12 col-lg-5 col-xl-4 me-lg-auto me-xl-0 show-on-scroll" data-show-duration="500" data-show-distance="10">
                <h1 class="mb-100 mb-lg-0 pb-8 pb-lg-0">Certainly Insurance</h1>
            </div>

            <div class="d-none d-xl-block col-lg-2"></div>

            <div class="col-12 col-lg-6 col-xl ms-xl-n30 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="100">
                <p class="lead mb-0 fw-thick">Online Insurance Rebrand</p>
                <hr>
                <div class="row gh-3 gv-1">
                    <div class="col-12 col-sm-6 col-lg-auto">
                        <ul class="list-group list-group-gap borderless">
                            <li class="list-group-item"><span class="fw-medium me-8">Role:</span> Senior UX Designer</li>
                            <li class="list-group-item"><span class="fw-medium me-8">Timeframe:</span>4 months</li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-auto">
                        <ul class="list-group list-group-gap borderless">
                            <li class="list-group-item"><span class="fw-medium me-8">Team:</span> 5UX, PM, MK, 5SE</li>
                            <li class="list-group-item"><span class="fw-medium me-8">Company:</span>Liberty Mutual</li>
                        </ul>
                    </div>
                </div>
            </div>

    <div class="row justify-content-center text-center pt-10 pb-30 mt-10">
    </div>

        <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Overview</p>
            <p>Liberty Mutual's innovation team met with customers to confirm the need for rebranding the Certainly online insurance platform. Based on user insights, the UX team was tasked to better meet the needs of our target persona. This product was originally designed to offer only renters insurance for an older demographic. Once the product began to scale for auto and small business insurance, Liberty Mutual needed to modernize the user experience to entice a new younger persona they call Stephanie+.</p>
        </div>
    </div>

    <img class="w-50 mb-100 show-on-scroll" src="assets/images/case-study/certainly/01stephanie_plus.png" alt="" data-show-duration="800"></div>

        <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content callout">
            <p class="lead fw-thick">Goal</p>
            <p>Deliver user-led designs to better meet the needs of Stephanie+ for now and in the future.</p>
        </div>
    </div>

    <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Process</p>
            <p class="lead fw-thick">Laying the Foundation</p>
            <p class="mb-20">As a dedicated UX design team, we utilized many methods to influence our designs. Here are a few:</p>
                <ul class="pb-50">
                    <li><p class="mb-10"><strong>Heuristic Evaluation</strong> - Leaned on UX principles and industry best practices.</p></li>
                    <li><p class="mb-10"><strong>Collaboration</strong> - Received persona understanding from Marketing; Met with Product Management on roadmaps; Utilized customer support logs.</p></li>
                    <li><p class="mb-10"><strong>Competitors</strong> - Performed task analysis to discover ways to differentiate.</p></li>
                    <li><p><strong>User Testing</strong> - Ran moderated and unmoderated testing using Userzoom on current design.</p></li>
                </ul>
        </div>
    </div>
    
    <div class="d-flex align-items-center justify-content-center gh-1">
        <img class="mb-100 show-on-scroll img-fluid" src="assets/images/case-study/certainly/02certainly_before.png" alt="" data-show-duration="800">
        </div>

    <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Current State Feedback was Key</p>
            <p class="mb-20">Since the site was live, we had a great opportunity to gather user feedback quickly. We interviewed 10 candidates matching the desired persona and logged the feedback. Here are some hightlights:</p>
            <ul class="pb-50">
                <li><p class="mb-10"><strong>Color</strong> - Muted and uninviting; Colors compete for hierarchy; Red has a negative connotation.</p></li>
                <li><p class="mb-10"><strong>Iconongraphy</strong> - Muted blue looks 'out of focus'; Red looks alarmist; Every icon looks like an alert or error instead of looking instructive.</p></li>
                <li><p class="mb-10"><strong>Type</strong> - Outdated, rigged, and not modern / tech; Not versatile and limited weights/styles within the font group; Struggles with legibility.</p></li>
                <li><p><strong>Photography</strong> - Faded wash treatment is limiting; The wash takes away vibrance and relatability; The need of overexposed and light background imagery is retructive.</p></li>
            </ul>
         </div>
    </div>

    <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Empowered by Feedback, Exploration Began</p>
            <p>As designers, we are natural born creative problem solvers. Each of us got a chance to get into 'headphone mode' and design solutions. We embraced the 'all windows no walls' concept and trusted one another to invite criticism throught a 2 week design sprint.</p>
            <p class="mb-60"><strong> UX is Messy!</strong></p>
        </div>
    </div>

        <img class="w-100 mb-100 show-on-scroll" src="assets/images/case-study/certainly/03design_exploration.png" alt="" data-show-duration="800">

    <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Before and After's</p>
            <p>We explored many different solutions and met as a team to collaborate to define the winning design.</p>
        </div>
    </div>

        <img class="w-100 mb-100 show-on-scroll" src="assets/images/case-study/certainly/04before_afters.png" alt="" data-show-duration="800">

    <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">My Favorite Slide</p>
            <p>This is such a great representation of how font choice and color can express such a strong message. We took great care in defining the right choice for font and color knowing how impactful it is to the message we were trying to convey.</p>
        </div>
  

        <img class="w-75 mt-100 mb-100 show-on-scroll" src="assets/images/case-study/certainly/05typeface_tone.png" alt="" data-show-duration="800">

    <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">The Big Reveal</p>
            <p>The final design shown below tested very well with our users. Customers confirmed, we went from drab to FAB!</p>
        </div>
    </div>

         <img class="w-100 mb-100 show-on-scroll" src="assets/images/case-study/certainly/06final_home.png" alt="" data-show-duration="800">
        <img class="w-100 mb-100 show-on-scroll" src="assets/images/case-study/certainly/07final_others.png" alt="" data-show-duration="800">

    <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Most valuable deliverable</p>
            <p>Our most important deliverable was a design system clearly defined for all designers and developers to lean on moving forward. We quckly began partnering with development in building out components using Storybook.</p>
        </div>
    </div>

        <div class="row justify-content-center gh-1 mb-100">
        <img class="w-75 mb-100 show-on-scroll" src="assets/images/case-study/certainly/08styleguide.png" alt="" data-show-duration="800">

        <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content callout">
            <p class="lead fw-thick">Results</p>
            <p>This project was a testiment to utilizing customer feedback as the bedrock for innovative design. I learned to dig deep and value trust in supporting the creative genuis of a high performance design team. We empowered the development team with reusable assets to increase efficency and reduce time to deliver our MVP. After this project I asked myself, was this collaboration a success? ...<strong>Certainly</strong>.</p>
        </div>
    </div>
</div>

    <div class="page-navigation mt-100">
        <a href="case-study-ls_hub.html" class="btn btn-clean">{{ icon.arrow_left | replace(' width', ' class="icon-arrow icon-arrow-left" width') | safe }}prev<span class="d-none d-sm-inline"></span></a>
        <a href="gallery-home.html" class="btn btn-light btn-circle btn-xs">all</a>
        <a href="case-study-flightpro.html" class="btn btn-clean">next<span class="d-none d-sm-inline"></span>{{ icon.arrow_right | replace(' width', ' class="icon-arrow icon-arrow-right" width') | safe }}</a>
    </div>
</div>
</div>

{% endblock %}
