{% set page_title = 'LifeSphere Hub' %}
{% set navbar_fixed = true %}
{% set footer = 'default-2' %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}


{% block content %}
<div class="container mt-100">

    <img class="w-100 mb-50 show-on-scroll" src="assets/images/case-study/ls-hub/ls-hub-hero.png" alt="" data-show-duration="800"></img>

<div class="pt-100 mt-n30 pb-130 mb-n10">
        <div class="row gh-1 d-flex align-items-center justify-content-center">
            <div class="d-none d-xl-block col-1"></div>

            <div class="col-12 col-lg-5 col-xl-4 me-lg-auto me-xl-0 show-on-scroll" data-show-duration="500" data-show-distance="10">
                <h1 class="mb-lg-0 pb-8 pb-lg-0">LifeSphere Hub</h1>
            </div>

            <div class="d-none d-xl-block col-lg-2"></div>

            <div class="col-12 col-lg-6 col-xl ms-xl-n30 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="100">
                <p class="lead mb-0 fw-thick">Documentation Platform Design</p>
                <hr>
                <div class="row gh-3 gv-1">
                    <div class="col-12 col-sm-6 col-lg-auto">
                        <ul class="list-group list-group-gap borderless">
                            <li class="list-group-item"><span class="fw-medium me-8">Role:</span> UX Design Lead</li>
                            <li class="list-group-item"><span class="fw-medium me-8">Timeframe:</span>4 months</li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-auto">
                        <ul class="list-group list-group-gap borderless">
                            <li class="list-group-item"><span class="fw-medium me-8">Team:</span> UX, PM, SME, 1SE</li>
                            <li class="list-group-item"><span class="fw-medium me-8">Company:</span>ArisGlobal</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    <div class="row justify-content-center text-center pt-10 pb-30 mt-10">
    </div>

        <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Overview</p>
            <p>Global life sciences company, ArisGlobal is looking to reduce customer support calls and cut time to deliver modern self-service online help and documentation. They needed a sustainable, scalable, modern system that could stay up to date with changes in delivery platforms and provide responsive branded online Help. The content had to be web-based, indexable and searchable. Under my leadership, our product design team was tasked to re-image how our product documentation could be offered using a new cloud-based authoring tool called <a href="https://www.madcapsoftware.com/">Mad-Cap Flare</a>.</p>
        </div>
    </div>

    <div class="row justify-content-center gh-1">
    <img class="w-50 mb-100 show-on-scroll" src="assets/images/case-study/ls-hub/documentation_girl.png" alt="" data-show-duration="800" /></div>

        <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content callout">
            <p class="lead fw-thick">Goal</p>
            <p>Deliver a simple, scalable, and helpful experiences for product documentation that increases authoring efficiency.</p>
        </div>
    </div>

        <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Process</p>
            <p class="lead fw-thick">Establish Baseline</p>
            <p>Our services team needed help with our help offering. They had an increasing number of support tickets along with longer estimated time of support calls. The documentation team was averaging up to 3 weeks per application for the authoring process. The current tool offered limited features and each product was on different versions offering inconsistent organization.</p>
            <p>Here are just 3 examples of the different user experiences captured out of our 18 product offerings for product documentation. Each had their own design styles and organization of content along with limited functionality.</p>
        </div>
    </div>

        <div class="row justify-content-center gh-1">
        <img class="w-100 mb-100 show-on-scroll" src="assets/images/case-study/ls-hub/help_current_state.png" alt="" data-show-duration="800"></img></div>

    <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Research MadCap Flare</p>
            <p>Madcap Flare is a cloud-based platform that maximizes content reuse and streamlines the creation of technical documentation and learning programs.</p>
            <p>We wanted to be able to move quickly thus leaning on the out-of-the-box templates and functionality was critical for our success. We looked through many examples to determine a template style that would adapt to our future plans of expansion and housed modern day functionality to meet and exceed our customers expectations.</p>
        </div>
    </div>

        <div class="row justify-content-center gh-1">
        <img class="w-50 mb-100 show-on-scroll" src="assets/images/case-study/ls-hub/medcap_flare_template.png" alt="" data-show-duration="800"></img></div>

        <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Research best practices</p>
            <p>Through evaluation of the <a href="https://www.nngroup.com/articles/help-and-documentation/">#10 Heuristic by Jacob Neilson</a> - Help and documentation content should be easy to search and focus on the user's task. We looked to implement best practices in keeping content concise, and list concrete steps that needed to be carried out.</p>
        </div>
    </div>

    <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content">
        <img src="assets/images/case-study/ls-hub/collaboration_icon.png" class="mb-30"alt=""/>
            <p class="lead fw-thick">SME's</p>
            <p>Sought out an expert in MadCap to provide ongoing development assistance and reviews of the design to make sure they can be done using the platform.</p>
            <p>I initiated collaboration with our marketing department to help with naming our new tool and provide artistic direction to stay in alignment with our ArisGlobal brand.</p>
        </div>
    </div>

    <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content">
        <img src="assets/images/case-study/ls-hub/poc_icon.png" class="mb-30"alt=""/>
            <p class="lead fw-thick">POC</p>
            <p>Working very closely with our documentation team, I drove a 2 week sprint to rapid prototype a POC in an effort to gather feedback and vet assumptions. We used Figma to collaborate among the SME's, UX designers and UI developers to provide clickable prototypes ready for testing.</p>
        </div>
    </div>

    <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content">
        <img src="assets/images/case-study/ls-hub/feedback_icon.png" class="mb-30"alt=""/>
            <p class="lead fw-thick">Feedback</p>
            <p>The sample size of our testing included customers, services teams,and our documentation team. We conducted moderated and unmoderated testing to compile a features list sure to deliver happiness as our MVP.</p>
            <p>We collected numerous survey's from our customers on area's we could improve our overall help and documentation. We also combed through the feedback collected from our customer success team to incorporate the main key findings. Here are the results:</p>
        </div>
    </div>

    <div class="row justify-content-center gh-1 mb-70">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Advanced search functionality</p>
             <p>We discovered the content had to be web-based, indexable, and searchable across all our 18 products.</p>
        </div>
    </div>

        <div>
        <img class="w-100 mb-100 show-on-scroll" src="assets/images/case-study/ls-hub/Home_1140_2022.png" alt="" data-show-duration="800"/></div>

    <div class="row justify-content-center gh-1 mb-70">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Side navigation</p>
             <p>We discovered the content had to be web-based, indexable, and searchable across all our 18 products.</p>
        </div>
    </div>

        <div>
        <img class="w-100 mb-100 show-on-scroll" src="assets/images/case-study/ls-hub/documentation_tablet.png" alt="" data-show-duration="800"/></div>
    
    <div class="row justify-content-center gh-1 mb-70">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Responsive</p>
             <p>deliver a modern, web-based Help featuring a responsive HTML5 format.</p>
        </div>
    </div>

        <div>
        <img class="w-100 mb-100 show-on-scroll" src="assets/images/case-study/ls-hub/documentation_main.png" alt="" data-show-duration="800"/></div>

    <div class="row justify-content-center gh-1 mb-70">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Multimedia experience</p>
             <p>a multimedia experience via videos, animated GIFs and high-resolution SVG images.</p>
        </div>
    </div>

        <div>
        <img class="w-100 mb-100 show-on-scroll" src="assets/images/case-study/ls-hub/LSHub_multimedia.png" alt="" data-show-duration="800"/></div>

    <div class="row justify-content-center gh-1 mb-70">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Writers Styleguide</p>
             <p>We empowered our documentation writers to focus on great content by providing them with branded styles and reusable componets. This allowed the teams to stay consistent and speed up their process to deliver.</p>
        </div>
    </div>

    <div>
        <img class="w-100 mb-100 show-on-scroll" src="assets/images/case-study/ls-hub/LShub_styleguide.png" alt="" data-show-duration="800"/></div>

        <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content callout">
            <p class="lead fw-thick">Results</p>
            <p>We delivered a simple, scalable, and helpful experience for our customers by incorporating search capability and mindfully organized platform structure.</p>
            <p> Once the C-level executives saw the capability of this new tool, the scope expanded to provide an ideas center where our customers could submit ideas, and a page for our Customer Success team to manage FAQ's. We are schedule for a fall release with one of our products and will continue to empower our writers with components to increase authoring efficency.</p>
        </div>
    </div>

    <div class="page-navigation mt-160">
        <a href="project-ywcss.html" class="btn btn-clean">{{ icon.arrow_left | replace(' width', ' class="icon-arrow icon-arrow-left" width') | safe }}prev<span class="d-none d-sm-inline"></span></a>
        <a href="gallery-home.html" class="btn btn-light btn-circle btn-xs">all</a>
        <a href="case-study-certainly.html" class="btn btn-clean">next<span class="d-none d-sm-inline"></span>{{ icon.arrow_right | replace(' width', ' class="icon-arrow icon-arrow-right" width') | safe }}</a>
    </div>
</div>
</div>
{% endblock %}
