{% set page_title = 'Risk Management' %}
{% set navbar_fixed = true %}
{% set footer = 'default-2' %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}


{% block content %}
<div class="container mt-100">

    <img class="w-100 mb-50 show-on-scroll" src="assets/images/case-study/risk-mgt/risk-hero.png" alt="" data-show-duration="800"></img>

<div class="pt-100 mt-n30 pb-130 mb-n10">
        <div class="row gh-1 d-flex align-items-center justify-content-center">
            <div class="d-none d-xl-block col-1"></div>

            <div class="col-12 col-lg-5 col-xl-5 me-lg-auto me-xl-0 show-on-scroll" data-show-duration="500" data-show-distance="10">
                <h1 class="mb-100 mb-lg-0 pb-8 pb-lg-0 text-highlight">Risk Management</h1>
            </div>

            <div class="d-none d-xl-block col-lg-2"></div>

            <div class="col-12 col-lg-6 col-xl ms-xl-n30 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="100">
                <p class="lead mb-0 fw-thick accent">Clinical Trial Feature Update</p>
                <hr>
                <div class="row gh-3 gv-1">
                    <div class="col-12 col-sm-6 col-lg-auto">
                        <ul class="list-group list-group-gap borderless">
                            <li class="list-group-item"><span class="fw-medium me-8">Role:</span> Senior UX Designer</li>
                            <li class="list-group-item"><span class="fw-medium me-8">Timeframe:</span>8 weeks</li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-auto">
                        <ul class="list-group list-group-gap borderless">
                            <li class="list-group-item"><span class="fw-medium me-8">Team:</span> 1UX, 1PM, 1SME, 1ARC, 4DEV</li>
                            <li class="list-group-item"><span class="fw-medium me-8">Company:</span>Aris Global</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    <div class="row justify-content-center text-left pt-10 pb-30 mt-10"></div>

    <div class="row justify-content-center gh-1 mb-100 pb-60">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick"></p>
        <div class="row gh-1 gv-2 mt-n3 pb-60">
            <div class="col-12 col-md-6 col-lg-4 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-delay="50">
                <div class="feature">
                    <div class="feature-icon me-20">
                        {{ features.icon_frame | safe }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#6200ee" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up"><line x1="12" y1="19" x2="12" y2="5"/><polyline points="5 12 12 5 19 12"/></svg>
                    </div>
                    <div class="feature-body pt-30">
                        <h6 class="mt-n10 mb-30 pb-5">Increased customer usage</h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-delay="150">
                <div class="feature">
                    <div class="feature-icon me-20">
                        {{ features.icon_frame | safe }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#6200ee" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/></svg>
                    </div>
                    <div class="feature-body pt-30">
                        <h6 class="mt-n10 mb-30 pb-5">Increase user adoption</h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-delay="250">
                <div class="feature">
                    <div class="feature-icon me-20">
                        {{ features.icon_frame | safe }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#6200ee" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"/><polyline points="12 6 12 12 16 14"/></svg>
                    </div>
                    <div class="feature-body pt-30">
                        <h6 class="mt-n10 mb-30 pb-5">Reduce user time to task</h4>
                    </div>
                </div>
            </div>
        </div>
     </div>



        <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Overview</p>
            <p class="pb-10">We received client feedback for our Clinical Trial Management System (CTMS) within our Clinical Domain, urging us to upgrade our existing risk management features. The objective was to align with the regulatory norms stipulated by the ICH E6.</p>
            <ul class="pb-10">
                <li><p class="mb-10"><strong>Understanding ICH E6</strong> - These guidelines were formulated to enhance the safety of subjects participating in trials and to ensure the integrity of data generated.</p></li>
                <li><p class="mb-10"><strong>Transformation</strong> - To address this, our platform team embarked on developing this feature as the inaugural reusable micro-services platform component.</p></li>
            </ul>
        </div>
    </div>

    <img class="w-50 mb-0 show-on-scroll" src="assets/images/case-study/risk-mgt/mcc-method.png" alt="" data-show-duration="800"></div>

        <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content callout">
            <p class="lead fw-thick">Goal</p>
            <p class="fw-medium">To cultivate a scalable modern platform capable of identifying, administering, and reporting study-related risks in compliance with obligatory ICH E6 regulations, while also enriching the user experience within a clinical trial.</p>
        </div>
    </div>

    <div class="row justify-content-center gh-1 mb-50">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Result</p>
            <p class="mb-20">Before and after.</p>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center gh-1">
        <img class="mb-100 show-on-scroll img-fluid" src="assets/images/case-study/risk-mgt/before_after_riskmgt_1170.gif" alt="" data-show-duration="800">
    </div>

    <div class="row justify-content-center gh-1 mb-50">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Process</p>
            <p class="lead fw-thick">Discovery</p>
            <p class="mb-20">The exploration phase entailed various methods to comprehend the current needs and obstacles faced by our users. A few of these include:</p>
                <ul class="pb-50">
                    <li><p class="mb-10"><strong>Expert Consultation</strong> - Conducted a sequence of dialogues with Study Managers and Department Heads.</p></li>
                    <li><p class="mb-10"><strong>User Feedback</strong> - Gathered persona insights from Marketing, consulted with Product Management on product roadmaps, and analyzed customer support logs.</p></li>
                    <li><p class="mb-10"><strong>Current State Analysis</strong> - Determined the existing status of our services and conducted a comprehensive heuristic evaluation.</p></li>
                    <li><p><strong>Collaboration with Services Team</strong> - Joined forces with our services team to pinpoint issues with the current system and to identify requests.</p></li>
                </ul>
        </div>
    </div>
    
    <div class="row justify-content-center gh-1 mb-50">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">User Flow</p>
            <p class="mb-20">The image below is a result of an intensive collaboration with essential stakeholders, reflecting a deep understanding of our users' needs and preferences.</p>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center gh-1">
        <img class="mb-100 show-on-scroll img-fluid" src="assets/images/case-study/risk-mgt/risk-userflow.png" alt="" data-show-duration="800">
    </div>

    <div class="row justify-content-center gh-1 mb-50">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Design</p>
            <p class="mb-20">Presented here are instances of low-fidelity designs, which were meticulously reviewed and approved by our Product team, subject matter experts, development leads, and architect before proceeding to user testing with customers. It was also crucial to conceptualize how the design would adapt across various device types.</p>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center gh-1">
        <img class="mb-50 pb-20 show-on-scroll img-fluid" src="assets/images/case-study/risk-mgt/risk-design.png" alt="" data-show-duration="800">
    </div>

    <div class="d-flex align-items-center justify-content-center gh-1">
        <img class="mb-100 show-on-scroll img-fluid" src="assets/images/case-study/risk-mgt/risk-responsive.png" alt="" data-show-duration="800">
    </div>

    <div class="row justify-content-center gh-1 mb-50">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Design System</p>
            <p class="mb-20">We leveraged a design system to ensure uniformity across all applications within our LifeSphere suite. This system served as a single source of truth and comprehensive guide, promoting consistent visual language and user interaction patterns, thereby enhancing usability. </p>
            <p class="mb-20">In addition, we prioritized accessibility during our design phase. We used a dedicated tool within Figma to regularly check and validate accessibility standards, ensuring our designs were inclusive and user-friendly for all users, regardless of their abilities or circumstances. </p>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center gh-1">
        <img class="mb-100 show-on-scroll img-fluid" src="assets/images/case-study/risk-mgt/design-system-image.png" alt="" data-show-duration="800">
    </div>

    <div class="row justify-content-center gh-1 mb-50">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Feedback</p>
            <p class="mb-20">Our user testing phase helped us garner valuable insights into the needs and obstacles of our users. Some key feedback included:</p>
                <ul class="pb-50">
                    <li><p class="mb-10"><strong>Categorizing Risks</strong> - Domain Managers emphasized the importance of concentrating on risks associated with their specific domain. Simultaneously, Study Managers expressed the need to view all risks across all domains.</p></li>
                    <li><p class="mb-10"><strong>Conciseness</strong> - To avoid overly lengthy descriptions, users suggested implementing a character limit in the risk description field.</p></li>
                    <li><p class="mb-10"><strong>Current State Analysis</strong> - An established baseline outlining the current state was required, along with a comprehensive heuristic evaluation.</p></li>
                    <li><p><strong>Need for Guidance</strong> - Users indicated a need for a tooltip explaining the risk score calculation, as well as guidance on drafting a risk.</p></li>
                </ul>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center gh-1">
        <img class="mb-50 pb-20 show-on-scroll img-fluid" src="assets/images/case-study/risk-mgt/risk-feedback.png" alt="" data-show-duration="800">
    </div>

    <div class="row justify-content-center gh-1 mb-50">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Prototype 1</p>
            <p class="lead fw-thick mb-20">Study Manager</p>
            <p class="mb-20">As a Study Manager, I want to setup a study and share with study participants.</p>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center gh-1">
        <img class="mb-50 pb-20 show-on-scroll img-fluid" src="assets/images/case-study/risk-mgt/StudyManager03_1170.gif" alt="" data-show-duration="800">
    </div>

    <div class="row justify-content-center gh-1 mb-50">
        <div class="col-lg-8 post-content">
            <p class="lead fw-thick">Prototype 2</p>
            <p class="lead fw-thick mb-20">Safety Manager</p>
            <p class="mb-20">As a Safety Manager, I want to quickly find my assigned risk areas and manage them throughout the study.</p>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center gh-1">
        <img class="mb-100 show-on-scroll img-fluid" src="assets/images/case-study/risk-mgt/SafetyManager01_1170.gif" alt="" data-show-duration="800">
    </div>


        <div class="row justify-content-center gh-1">
        <div class="col-lg-8 post-content callout">
            <p class="lead fw-thick">Projected Results & Metrics</p>
            <p class="mb-20">Our aim is to demonstrate the value of our enhanced Risk Management module by illustrating how it aids our clients in saving both time and money. </p>
                <ul class="pb-50">
                    <li><p class="mb-10"><strong>Increase Usage</strong> - We plan to implement Pendo to monitor and graphically represent the increase in usage. As a part of this initiative, we are running a pilot project with a top client.</p></li>
                    <li><p class="mb-10"><strong>Boosting Adoption</strong> - By December 2023, we forecast the addition of two new customers, who will recognize this upgraded feature as a key motivation to adopt CTMS.</p></li>
                    <li><p class="mb-10"><strong>Reduce Task Time</strong> - The time taken to input a new risk has been cut in half, with RACT now requiring 19 clicks and MCC only needing 8.</p></li>
                </ul>
            <p class="mb-20">Furthermore, our Sales team is eager to market this new feature, confident that it will boost adoption rates. Concurrently, our Marketing team is introducing new branding, featuring screenshots and live demos from this project as part of the launch of our revamped website.</p>
        </div>
    </div>
</div>

    <div class="page-navigation mt-100">
        <a href="case-study-ls_hub.html" class="btn btn-clean">{{ icon.arrow_left | replace(' width', ' class="icon-arrow icon-arrow-left" width') | safe }}prev<span class="d-none d-sm-inline"></span></a>
        <a href="gallery-home.html" class="btn btn-light btn-circle btn-xs">all</a>
        <a href="case-study-flightpro.html" class="btn btn-clean">next<span class="d-none d-sm-inline"></span>{{ icon.arrow_right | replace(' width', ' class="icon-arrow icon-arrow-right" width') | safe }}</a>
    </div>
</div>
</div>

{% endblock %}
