{% set page_title = 'YoungWilliams' %}
{% set navbar_fixed = true %}
{% set footer = 'default-2' %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}


{% macro image_portfolio(src="", classes="", gallery="") %}
<a href="{{ src[1] }}" class="gallery-item{{ ' ' + classes if classes }}" data-fancybox="{{ gallery }}" data-animation-effect="fade">
    <img src="{{ src[0] }}" alt="">
</a>
{% endmacro %}

{% macro image_portfolio_init(name="", classes="", gallery="gallery-1") %}
    {{ image_portfolio(single_portfolio_images.style_2_ywcss[name], classes=classes, gallery=gallery) }}
{% endmacro %}


{% block content %}
<div class="container">
    <div class="row gv-3 align-items-center mt-100 mb-100 mb-lg-0">
        <div class="col-12 col-lg-6 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-origin="left" data-show-delay="250">
            {{ image_portfolio_init('01', 'gallery-item-md') }}
        </div>

        <div class="d-none d-lg-block col-1 me-xl-10"></div>

        <div class="col-12 col-lg ms-xl-5 me-xl-n10 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-origin="right" data-show-delay="50">
            <h2>YoungWilliams Child Support Services</h2>
            <p class="mb-0 lead fw-normal">In my design leadership role at YoungWilliams, I acted as Creative Lead in collaboration with a silicon valley based design firm to redesign our corporate website. This project provided me with a solid foundation of the design process and first-hand understanding of the necessary skills required to be a top notch digital designer.</p>
            <hr>
            <div class="row gh-1 gv-1">
                <div class="col-auto col-sm-6">
                    <ul class="list-group list-group-gap borderless">
                        <li class="list-group-item"><span class="fw-medium me-8">Date:</span> June, 2014</li>
                    </ul>
                </div>
                <div class="col-auto col-sm-6">
                    <ul class="list-group list-group-gap borderless">
                        <li class="list-group-item"><span class="fw-medium me-8">Role:</span>Graphic Designer</li>
                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="d-none d-xl-block col-1"></div>
    </div>

    <div class="row gv-3 align-items-center mt-lg-100 mb-lg-100 mb-lg-0">
        <div class="col-12 col-lg-6 order-lg-3 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-origin="right" data-show-delay="250">
            {{ image_portfolio_init('02', 'gallery-item-md') }}
        </div>

        <div class="d-none d-lg-block col-1 order-lg-2"></div>

        <div class="col-12 col-lg-5 order-lg-1 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-origin="left" data-show-delay="50">
        <hr>
            <h3>Home page</h3>
            <p>Corporate website redesign</p>
        </div>
    </div>


    <div class="row gv-3 align-items-center mt-lg-100 mb-lg-100 mb-lg-0">
    
        <div class="col-12 col-lg-6 order-lg-3 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-origin="right" data-show-delay="250">
            {{ image_portfolio_init('03', 'gallery-item-md') }}
        </div>

        <div class="d-none d-lg-block col-1 order-lg-2"></div>
        <div class="col-12 col-lg-5 order-lg-1 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-origin="left" data-show-delay="50">
        <hr>
            <h3>What we do</h3>
            <p>Corporate website redesign</p>
        </div>
    </div>

    <div class="row gv-3 align-items-center mt-lg-100 mb-lg-100 mb-lg-0">
    
        <div class="col-12 col-lg-6 order-lg-3 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-origin="right" data-show-delay="250">
            {{ image_portfolio_init('04', 'gallery-item-md') }}
        </div>

        <div class="d-none d-lg-block col-1 order-lg-2"></div>
        <div class="col-12 col-lg-5 order-lg-1 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-origin="left" data-show-delay="50">
        <hr>
            <h3>Mission and values</h3>
            <p>Corporate website redesign</p>
        </div>
    </div>

    <div class="row gv-3 align-items-center mt-lg-100 mb-lg-100 mb-lg-0">
    
        <div class="col-12 col-lg-6 order-lg-3 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-origin="right" data-show-delay="250">
            {{ image_portfolio_init('05', 'gallery-item-md') }}
        </div>

        <div class="d-none d-lg-block col-1 order-lg-2"></div>
        <div class="col-12 col-lg-5 order-lg-1 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-origin="left" data-show-delay="50">
        <hr>
            <h3>Research and case law</h3>
            <p>Corporate website redesign</p>
        </div>
    </div>

    <div class="row gv-3 align-items-center mt-lg-100 mb-lg-100 mb-lg-0">
    
        <div class="col-12 col-lg-6 order-lg-3 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-origin="right" data-show-delay="250">
            {{ image_portfolio_init('06', 'gallery-item-md') }}
        </div>

        <div class="d-none d-lg-block col-1 order-lg-2"></div>
        <div class="col-12 col-lg-5 order-lg-1 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-origin="left" data-show-delay="50">
        <hr>
            <h3>Corporate website redesign</h3>
            <p>Mobile design and branding guidelines</p>
        </div>
    </div>

    <div class="page-navigation mt-160">
        <a href="project-bluecross.html" class="btn btn-clean">{{ icon.arrow_left | replace(' width', ' class="icon-arrow icon-arrow-left" width') | safe }}prev<span class="d-none d-sm-inline"></span></a>
        <a href="gallery-home.html" class="btn btn-light btn-circle btn-xs">all</a>
        <a href="case-study-ls_hub.html" class="btn btn-clean">next<span class="d-none d-sm-inline"></span>{{ icon.arrow_right | replace(' width', ' class="icon-arrow icon-arrow-right" width') | safe }}</a>
    </div>
</div>
{% endblock %}
