{% set page_title = 'Single Work 2' %}
{% set navbar_fixed = true %}
{% set footer = 'default-2' %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}


{% macro image_portfolio(src="", classes="", gallery="") %}
<a href="{{ src[1] }}" class="gallery-item{{ ' ' + classes if classes }}" data-fancybox="{{ gallery }}" data-animation-effect="fade">
    <img src="{{ src[0] }}" alt="">
</a>
{% endmacro %}

{% macro image_portfolio_init(name="", classes="", gallery="gallery-1") %}
    {{ image_portfolio(single_portfolio_images.style_2[name], classes=classes, gallery=gallery) }}
{% endmacro %}


{% block content %}
<div class="container">
    <div class="row gv-3 align-items-center mt-100 mb-100 mb-lg-0">
        <div class="col-12 col-lg-6 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-origin="left" data-show-delay="250">
            {{ image_portfolio_init('01', 'gallery-item-md') }}
        </div>

        <div class="d-none d-lg-block col-1 me-xl-10"></div>

        <div class="col-12 col-lg ms-xl-5 me-xl-n10 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-origin="right" data-show-delay="50">
            <h2>Accruent</h2>
            <p class="mb-0 lead fw-normal">As part of an international UX design team, I enhanced experiences of Accruent's suite of products that help organizations transform how they manage their physical assets.</p>
            <hr>
            <div class="row gh-1 gv-1">
                <div class="col-auto col-sm-6">
                    <ul class="list-group list-group-gap borderless">
                        <li class="list-group-item"><span class="fw-medium me-8">Date:</span> June 10, 2020</li>
                    </ul>
                </div>
                <div class="col-auto col-sm-6">
                    <ul class="list-group list-group-gap borderless">
                        <li class="list-group-item"><span class="fw-medium me-8">Role:</span> UX Designer</li>
                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="d-none d-xl-block col-1"></div>
    </div>

    <div class="row gv-3 align-items-center mt-100 mb-100 mb-lg-0">
        <div class="col-12 col-lg-6 order-lg-3 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-origin="right" data-show-delay="250">
            {{ image_portfolio_init('02', 'gallery-item-md') }}
        </div>

        <div class="d-none d-lg-block col-1 order-lg-2"></div>

        <div class="col-12 col-lg-5 order-lg-1 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-origin="left" data-show-delay="50">
        <hr>
            <h3>Elevate</h3>
            <p>UX Product Recommendations Presentation, Product Suite.</p>
        </div>
    </div>


    <div class="row gv-3 align-items-center mt-100 mb-100 mb-lg-0">
    
        <div class="col-12 col-lg-6 order-lg-3 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-origin="right" data-show-delay="250">
            {{ image_portfolio_init('03', 'gallery-item-md') }}
        </div>

        <div class="d-none d-lg-block col-1 order-lg-2"></div>
        <div class="col-12 col-lg-5 order-lg-1 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-origin="left" data-show-delay="50">
        <hr>
            <h3>Customer Advisory Board</h3>
            <p>Design Thinking Session Presentation. Denver, Colorado.</p>
        </div>
    </div>

    <div class="row gv-3 align-items-center mt-100 mb-100 mb-lg-0">
    
        <div class="col-12 col-lg-6 order-lg-3 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-origin="right" data-show-delay="250">
            {{ image_portfolio_init('04', 'gallery-item-md') }}
        </div>

        <div class="d-none d-lg-block col-1 order-lg-2"></div>
        <div class="col-12 col-lg-5 order-lg-1 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-origin="left" data-show-delay="50">
        <hr>
            <h3>Advanced Search</h3>
            <p>Feature Enhancement for Lucernix.</p>
        </div>
    </div>

    <div class="row gv-3 align-items-center mt-100 mb-100 mb-lg-0">
    
        <div class="col-12 col-lg-6 order-lg-3 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-origin="right" data-show-delay="250">
            {{ image_portfolio_init('05', 'gallery-item-md') }}
        </div>

        <div class="d-none d-lg-block col-1 order-lg-2"></div>
        <div class="col-12 col-lg-5 order-lg-1 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-origin="left" data-show-delay="50">
        <hr>
            <h3>Key's Management</h3>
            <p>Feature Enhancement for 360FAMIS</p>
        </div>
    </div>

    <div class="page-navigation mt-160">
        <a href="portfolio-single-style-1.html" class="btn btn-clean">{{ icon.arrow_left | replace(' width', ' class="icon-arrow icon-arrow-left" width') | safe }}prev<span class="d-none d-sm-inline"> project</span></a>
        <a href="portfolio-col-2-style-4.html" class="btn btn-light btn-circle btn-xs">all</a>
        <a href="portfolio-single-style-3.html" class="btn btn-clean">next<span class="d-none d-sm-inline"> project</span>{{ icon.arrow_right | replace(' width', ' class="icon-arrow icon-arrow-right" width') | safe }}</a>
    </div>
</div>
{% endblock %}
